/*
* @Author: developerMosquera
* @Date:   2018-02-02 21:34:37
* @Last Modified by:   amosquera
* @Last Modified time: 2018-02-03 00:43:38
*/

body
{
  background-image: url("../../../Static/img/Farmaceutica.jpg");
  background-size: 100%;
  font-size: 16px;
}

.row
{
  margin-right: 0px;
  margin-left: 0px;
}

#logueoPanel
{
  margin-top: 100px;
}

#logo
{
	text-align: center;
  padding: 0px 0px 15px 0px;
}

#cargandoLogueo
{
  background-color: #FFF;
  text-align: center;
  padding: 5px;
  display: none;
}